# World University Rankings

### About Dataset

###### This dataset is taken from the site https://www.kaggle.com/ for educational purposes.

https://www.kaggle.com/datasets/mylesoneill/world-university-rankings

### Loading data

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('dark_background')
import seaborn as sns

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

In [9]:
! pip install catboost

Requirement already satisfied: catboost in c:\anaconda\lib\site-packages (1.2.7)
Requirement already satisfied: graphviz in c:\anaconda\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\anaconda\lib\site-packages (from catboost) (3.8.4)
Requirement already satisfied: numpy<2.0,>=1.16.0 in c:\anaconda\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in c:\anaconda\lib\site-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in c:\anaconda\lib\site-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in c:\anaconda\lib\site-packages (from catboost) (5.22.0)
Requirement already satisfied: six in c:\anaconda\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\anaconda\lib\site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\anaconda\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda\lib\site-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\anaconda\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\anaconda\lib\site-packages (from matplotlib->catboost) (23.2)
Requirement already satisfied: pillow>=8 in c:\anaconda\lib\site-packages (from matplotlib->catboost) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\anaconda\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\anaconda\lib\site-packages (from plotly->catboost) (8.2.2)

In [10]:
from catboost import CatBoostRegressor

In [12]:
df = pd.read_csv('cwurData.csv')

In [13]:
df.head(10)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
5,6,Princeton University,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
6,7,University of Oxford,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012
7,8,Yale University,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
8,9,Columbia University,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
9,10,"University of California, Berkeley",USA,8,16,52,6,6,5,3,NaN,16,78.55,2012

### Train, test and validation samples

In [15]:
len(df)

2200

In [16]:
train, test = train_test_split(df,train_size=0.6,random_state=20)

In [17]:
val, test = train_test_split(test,train_size=0.5,random_state=20)

In [18]:
len(train)

1320

In [19]:
len(test)

440

In [20]:
len(val)

440

In [21]:
len(train) + len(test) + len(val)

2200

In [22]:
len(test) / len(df)

0.2

In [23]:
len(train) / len(df)

0.6

In [24]:
len(val) / len(df)

0.2

### Define features

In [26]:
train.columns

Index(['world_rank', 'institution', 'country', 'national_rank',
       'quality_of_education', 'alumni_employment', 'quality_of_faculty',
       'publications', 'influence', 'citations', 'broad_impact', 'patents',
       'score', 'year'],
      dtype='object')

In [27]:
train

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
21,22,Hebrew University of Jerusalem,Israel,2,24,93,13,101,91,101,NaN,28,60.76,2012
1097,898,Federal University of Santa Catarina,Brazil,11,355,478,210,608,959,800,869.0,737,44.39,2014
1889,690,University of Messina,Italy,38,367,567,218,608,803,812,606.0,871,44.37,2015
71,72,Rutgers University-New Brunswick,USA,49,101,101,59,80,83,72,NaN,85,47.50,2012
681,482,University of Akron,USA,156,355,421,210,637,660,609,596.0,121,45.18,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,353,Eindhoven University of Technology,Netherlands,11,355,315,181,296,555,310,334.0,307,45.82,2014
1607,408,University of Twente,Netherlands,12,367,511,218,343,511,368,358.0,288,45.14,2015
1814,615,Soochow University (Suzhou),China,33,367,567,218,396,773,812,565.0,871,44.49,2015
1428,229,Laval University,Canada,11,292,273,218,207,270,182,200.0,140,46.95,2015
271,72,Tohoku University,Japan,6,40,241,210,56,112,107,112.0,21,53.65,2014

In [28]:
X = ['world_rank', 'institution', 'country', 'national_rank',
       'quality_of_education', 'alumni_employment', 'quality_of_faculty',
       'publications', 'influence', 'citations', 'broad_impact', 'patents', 'year']
cat_features = ['institution', 'country']
y = ['score']

In [29]:
model_1 = CatBoostRegressor(cat_features=cat_features,
                          eval_metric='MAPE',
                          random_seed=20,
                          verbose=100)

In [30]:
model_1.fit(train[X],train[y],eval_set=(val[X],val[y]))

Learning rate set to 0.05319
0:	learn: 0.0752143	test: 0.0729723	best: 0.0729723 (0)	total: 171ms	remaining: 2m 50s
100:	learn: 0.0049602	test: 0.0057793	best: 0.0057793 (100)	total: 1.64s	remaining: 14.6s
200:	learn: 0.0034658	test: 0.0046663	best: 0.0046663 (200)	total: 2.98s	remaining: 11.8s
300:	learn: 0.0025639	test: 0.0041201	best: 0.0041199 (299)	total: 4.4s	remaining: 10.2s
400:	learn: 0.0019830	test: 0.0037819	best: 0.0037799 (399)	total: 5.87s	remaining: 8.76s
500:	learn: 0.0015692	test: 0.0035622	best: 0.0035622 (500)	total: 7.32s	remaining: 7.29s
600:	learn: 0.0012848	test: 0.0034232	best: 0.0034229 (599)	total: 8.79s	remaining: 5.84s
700:	learn: 0.0010918	test: 0.0033366	best: 0.0033366 (700)	total: 10.3s	remaining: 4.39s
800:	learn: 0.0009404	test: 0.0032673	best: 0.0032673 (800)	total: 11.7s	remaining: 2.92s
900:	learn: 0.0008306	test: 0.0032173	best: 0.0032173 (900)	total: 13.2s	remaining: 1.45s
999:	learn: 0.0007389	test: 0.0031782	best: 0.0031782 (999)	total: 14.7s	remaining: 0us

bestTest = 0.003178150112
bestIteration = 999

In [31]:
model_1.predict(test[X])

array([57.70271806, 44.07800285, 51.39143965, 51.79788235, 49.19958912,
       44.39777386, 49.78025337, 44.71279381, 45.61541953, 44.41041837,
       44.16594959, 44.51712701, 44.65262788, 44.59277858, 45.07019566,
       44.43951175, 44.20121679, 47.88607659, 44.71670788, 45.34110424,
       44.28461897, 46.69230925, 50.73329139, 44.63492769, 44.33051659,
       44.45622158, 45.0225809 , 44.13095393, 47.61730923, 45.73864875,
       54.25656321, 44.19647292, 44.79571167, 62.5573813 , 50.38414206,
       83.59769579, 44.08598055, 45.97133493, 44.92222351, 47.16574352,
       44.43826485, 47.61442945, 45.08389737, 47.62995392, 44.45573691,
       55.78988142, 48.83575077, 44.39001616, 44.22660895, 49.53638459,
       44.72093348, 44.45316159, 44.33455404, 45.30464811, 48.61633884,
       46.82200041, 49.71667311, 45.55028557, 45.33532985, 44.16292185,
       50.48114095, 44.18834568, 44.36982429, 45.8515935 , 44.59886496,
       65.11997406, 45.08418886, 44.95745487, 49.42947749, 44.48352886,
       49.19292482, 51.28882247, 46.50115027, 44.18126876, 46.57122999,
       44.55075684, 44.91688625, 47.56799449, 51.23618154, 72.43216711,
       44.78629943, 44.3209169 , 65.42355378, 45.02119687, 44.61192418,
       44.94460675, 52.52476029, 44.82603841, 44.92852234, 44.39042346,
       44.62930099, 44.54281054, 44.35769618, 45.90933869, 46.15343643,
       47.42976165, 44.22174551, 44.45461782, 48.78369608, 44.13602613,
       45.61410719, 47.13183204, 45.3582439 , 44.20414842, 47.5381823 ,
       44.35543681, 44.05929904, 44.59982225, 44.61952721, 44.50979507,
       45.13719033, 46.02585311, 44.28036583, 44.61628104, 44.19445568,
       44.69509008, 44.35666351, 44.09407164, 47.33740775, 44.11842068,
       44.78381974, 44.61690331, 44.33033028, 46.57876185, 73.05639963,
       45.23469979, 44.68656881, 45.76816063, 50.65478807, 49.4756225 ,
       45.43039628, 44.91256815, 47.03157665, 47.7535627 , 44.64935473,
       44.30037069, 44.27187021, 44.39424989, 44.50679915, 46.32440502,
       44.30401391, 45.73140094, 46.8518471 , 86.95315516, 44.15873862,
       44.53205836, 44.7657665 , 44.68060693, 45.64504292, 44.8639599 ,
       44.45604556, 44.57730061, 45.62863261, 54.11221451, 44.06260393,
       99.2825219 , 44.25959123, 45.04530769, 51.14847056, 45.34788936,
       44.51145901, 48.34403546, 45.91550757, 44.05759644, 44.34116402,
       44.16304575, 49.27319386, 46.16644718, 45.12532112, 47.05795483,
       47.12126446, 48.07740573, 44.06058102, 44.74923747, 45.71924939,
       46.3398008 , 46.40410188, 48.27584686, 45.4374654 , 47.97369801,
       47.50604354, 55.5688594 , 44.73908132, 44.05498937, 44.33463387,
       44.45527801, 44.4820734 , 44.99509645, 44.54081966, 47.45537936,
       45.49853279, 47.59889985, 47.6804805 , 44.4482721 , 44.3926452 ,
       44.52675143, 44.66836192, 44.37491694, 44.61512018, 48.53492535,
       44.78140767, 45.42093793, 45.32747981, 44.37542494, 44.3752958 ,
       47.77490205, 49.74349109, 44.34098728, 44.00892845, 47.81844841,
       44.25348639, 44.50185132, 45.30950522, 44.42120105, 44.66477867,
       54.8062052 , 44.61192418, 50.58414775, 44.04373961, 44.99872894,
       44.84707975, 46.44729884, 50.019248  , 44.13724844, 45.30131743,
       44.64169931, 44.34792353, 44.3987597 , 48.44450306, 44.02555298,
       45.24468402, 47.16390318, 46.79820737, 44.24900874, 46.12070137,
       44.59726329, 44.45111518, 45.00957226, 46.90747824, 44.39418858,
       44.90104943, 45.04923126, 44.42565942, 45.32519844, 54.24705215,
       53.5854293 , 44.21037578, 52.50929715, 44.45130265, 44.08248232,
       45.13855213, 44.66921426, 46.02241624, 47.81886993, 44.70317396,
       44.13193987, 48.88106112, 44.66891142, 83.69443225, 44.26832125,
       44.36432146, 49.67719994, 49.71467057, 44.48116468, 44.78000677,
       43.82435794, 45.27025563, 44.67523266, 44.11283973, 49.06610159,
       44.116838  , 48.94299337, 44.44375449, 92.71486349, 46.6889906 ,
       44.22798773, 45.02547707, 44.41397198, 46.09336078, 46.38289706,
       95.12421729, 45.84136331, 44.17673335, 44.83721868, 47.32424472,
       45.00096874, 47.7942688 , 51.96120568, 97.77140801, 45.57091743,
       44.21844015, 48.15923952, 50.8542354 , 51.21098914, 44.759984  ,
       44.74637129, 44.11494089, 44.82754298, 44.38307894, 44.16273253,
       50.88853883, 44.3935923 , 45.07672668, 44.09756255, 44.44218806,
       44.26517799, 50.77330996, 44.09681938, 44.380854  , 50.71215127,
       55.03393704, 44.93207115, 53.53791417, 44.33913441, 68.36771709,
       44.33750145, 67.12091497, 44.4375242 , 44.17973069, 44.42714422,
       44.74144126, 48.50746867, 45.16910058, 44.77860766, 45.04943472,
       44.36764076, 60.97384833, 45.45866892, 48.31199098, 44.4364674 ,
       82.18707153, 44.79608635, 49.94125639, 44.30960431, 48.50386724,
       57.01623518, 50.34712002, 44.12648529, 70.77319261, 47.84571093,
       45.11740468, 46.6847475 , 44.78946411, 44.28709054, 44.45846395,
       46.32304165, 45.4897278 , 44.65158138, 44.09208623, 96.16268071,
       47.73122265, 44.43996563, 44.4713016 , 65.89400889, 49.67475807,
       44.34496121, 49.4532501 , 52.08925666, 68.11116718, 44.99393225,
       52.95660895, 49.85910601, 55.99255141, 44.46464531, 45.84917533,
       45.01808408, 53.28582149, 44.48113327, 44.94630225, 45.62263571,
       44.30170946, 45.55857048, 45.14740772, 50.03252541, 44.30003398,
       44.86856364, 46.49483802, 48.43087852, 49.41786971, 44.54822561,
       44.59983044, 45.24861729, 46.15573098, 45.26251707, 44.5416113 ,
       45.16791031, 44.34653658, 44.62987873, 45.39928045, 44.83862073,
       44.92914338, 44.33069014, 44.88230197, 45.04153237, 44.28003513,
       45.26972856, 44.45284625, 44.80728255, 56.76909219, 44.63914809,
       46.11649694, 45.38235472, 44.40676409, 46.15740046, 44.46638386,
       45.20311313, 44.76592718, 44.45758407, 44.79772268, 52.59893203,
       45.63968183, 44.61922214, 44.81305473, 66.50542392, 44.1222639 ,
       46.69478872, 46.64305159, 44.63851789, 45.64818753, 44.33751435,
       49.64199608, 44.24045098, 45.82634609, 79.92038065, 44.71314498,
       44.94755048, 65.52035607, 44.35870169, 44.9828014 , 44.98014963,
       44.36863572, 45.05355842, 45.96668856, 45.81661677, 44.98287486,
       51.80287498, 44.43705977, 45.62661898, 47.74699159, 44.0499786 ])

In [32]:
test['score_pred'] = model_1.predict(test[X])

In [33]:
test

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,score_pred
1239,40,University of North Carolina at Chapel Hill,USA,25,124,69,86,32,32,19,21.0,41,57.09,2015,57.702718
2192,993,Southwest Jiaotong University,China,82,367,327,218,937,962,812,998.0,861,44.03,2015,44.078003
42,43,Carnegie Mellon University,USA,31,30,81,26,101,101,61,NaN,101,51.60,2012,51.391440
1290,91,Swiss Federal Institute of Technology in Lausanne,Switzerland,2,367,74,116,124,114,39,110.0,58,51.47,2015,51.797882
1339,140,University of Nottingham,United Kingdom,10,131,109,84,116,176,146,140.0,138,49.02,2015,49.199589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,93,Swiss Federal Institute of Technology in Lausanne,Switzerland,4,355,130,80,126,121,48,124.0,41,51.80,2014,51.802875
1850,651,Ehime University,Japan,40,367,514,218,619,582,511,590.0,418,44.43,2015,44.437060
580,381,Hong Kong Polytechnic University,Hong Kong,5,355,189,210,261,764,406,395.0,481,45.65,2014,45.626619
1389,190,University of South Florida - Tampa,USA,83,367,418,218,233,251,197,164.0,70,47.66,2015,47.746992
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015,44.049979

In [34]:
def error(y_true,y_pred):
  print(mean_absolute_error(y_true,y_pred))
  print(mean_absolute_percentage_error(y_true,y_pred))

In [35]:
error(test['score'],test['score_pred'])

0.19002856115163144
0.003198461149147535

### Уменьшим learning rate

In [37]:
model_2 = CatBoostRegressor(cat_features=cat_features,
                          learning_rate = 0.03,
                          eval_metric='MAPE',
                          random_seed=20,
                          verbose=100)

In [38]:
model_2.fit(train[X],train[y],eval_set=(val[X],val[y]))

0:	learn: 0.0766332	test: 0.0745126	best: 0.0745126 (0)	total: 14ms	remaining: 14s
100:	learn: 0.0100460	test: 0.0102707	best: 0.0102707 (100)	total: 1.47s	remaining: 13.1s
200:	learn: 0.0041674	test: 0.0051448	best: 0.0051448 (200)	total: 2.92s	remaining: 11.6s
300:	learn: 0.0034498	test: 0.0045526	best: 0.0045526 (300)	total: 4.18s	remaining: 9.72s
400:	learn: 0.0028434	test: 0.0040831	best: 0.0040831 (400)	total: 5.6s	remaining: 8.37s
500:	learn: 0.0024779	test: 0.0038493	best: 0.0038484 (496)	total: 6.99s	remaining: 6.96s
600:	learn: 0.0021617	test: 0.0036459	best: 0.0036459 (600)	total: 8.41s	remaining: 5.58s
700:	learn: 0.0018785	test: 0.0034452	best: 0.0034452 (700)	total: 9.82s	remaining: 4.19s
800:	learn: 0.0016660	test: 0.0032944	best: 0.0032944 (800)	total: 11.3s	remaining: 2.8s
900:	learn: 0.0014715	test: 0.0031728	best: 0.0031728 (900)	total: 12.7s	remaining: 1.39s
999:	learn: 0.0013099	test: 0.0030774	best: 0.0030774 (999)	total: 14.1s	remaining: 0us

bestTest = 0.00307744943
bestIteration = 999

### Увеличим learning rate

In [40]:
parameters = {'cat_features': cat_features,
              'eval_metric': 'MAPE',
              'learning_rate': 0.1,
              'random_seed':20,
              'verbose':100}

In [41]:
model_3 = CatBoostRegressor(**parameters)

In [42]:
model_3.fit(train[X],train[y],eval_set=(val[X],val[y]))

0:	learn: 0.0723764	test: 0.0698988	best: 0.0698988 (0)	total: 15.8ms	remaining: 15.8s
100:	learn: 0.0041848	test: 0.0055762	best: 0.0055762 (100)	total: 1.45s	remaining: 12.9s
200:	learn: 0.0024822	test: 0.0043134	best: 0.0043134 (200)	total: 2.86s	remaining: 11.4s
300:	learn: 0.0016843	test: 0.0038440	best: 0.0038440 (300)	total: 4.34s	remaining: 10.1s
400:	learn: 0.0012008	test: 0.0035856	best: 0.0035856 (400)	total: 5.77s	remaining: 8.62s
500:	learn: 0.0009471	test: 0.0034558	best: 0.0034558 (500)	total: 7.2s	remaining: 7.17s
600:	learn: 0.0007454	test: 0.0033789	best: 0.0033771 (597)	total: 8.61s	remaining: 5.72s
700:	learn: 0.0006186	test: 0.0033399	best: 0.0033399 (700)	total: 10.1s	remaining: 4.3s
800:	learn: 0.0005255	test: 0.0033131	best: 0.0033119 (796)	total: 11.5s	remaining: 2.86s
900:	learn: 0.0004542	test: 0.0032896	best: 0.0032896 (900)	total: 13s	remaining: 1.43s
999:	learn: 0.0003976	test: 0.0032711	best: 0.0032711 (999)	total: 14.5s	remaining: 0us

bestTest = 0.003271065194
bestIteration = 999

In [43]:
model_3.predict(test[X])

array([ 57.72371608,  44.06359362,  51.81420228,  51.51579764,
        49.12444523,  44.41748501,  49.4909818 ,  44.69078814,
        45.44511458,  44.39032083,  44.14775996,  44.50293011,
        44.60926339,  44.59603755,  45.17342651,  44.47110881,
        44.21563767,  47.88927271,  44.65685159,  45.34132191,
        44.26641365,  46.81783418,  51.49024729,  44.6461291 ,
        44.35799819,  44.34667163,  44.94549791,  44.10153825,
        47.87638157,  45.81579918,  53.94263584,  44.18226527,
        44.74586703,  63.22021697,  50.42613351,  81.84126184,
        44.06454904,  45.74408601,  45.01521542,  47.45701105,
        44.5181911 ,  47.68312268,  45.14349695,  47.77311713,
        44.34670285,  55.27403397,  49.2540537 ,  44.39983482,
        44.27135007,  49.62199557,  44.74220835,  44.44282782,
        44.32896526,  45.20773591,  48.62545163,  46.91390968,
        50.41531659,  45.72250531,  45.23934632,  44.15166717,
        50.09014781,  44.10340833,  44.36757552,  45.80883547,
        44.4894169 ,  69.3391224 ,  45.07499822,  45.02960918,
        49.39204026,  44.47881674,  49.02027074,  51.14054251,
        46.41277465,  44.14820193,  46.6676108 ,  44.50278946,
        44.91516382,  47.02290131,  50.88071428,  74.89272048,
        44.82965661,  44.39824349,  67.97902454,  45.05349275,
        44.60548472,  44.85790079,  52.09164319,  44.73584234,
        44.98447011,  44.38301717,  44.5993816 ,  44.53941667,
        44.39838964,  45.93805254,  46.12633464,  47.3857561 ,
        44.22514362,  44.43363005,  48.86915418,  44.10532116,
        45.68637054,  47.09098964,  45.31194254,  44.19990344,
        47.51783651,  44.36173345,  44.04317878,  44.57303699,
        44.60500216,  44.51043876,  45.07821585,  46.14095231,
        44.27572129,  44.5620202 ,  44.20908289,  44.66632328,
        44.35579397,  44.08869225,  47.32407963,  44.13723353,
        44.80528095,  44.68470972,  44.30840981,  46.72620901,
        74.15706971,  45.55757278,  44.66458093,  45.95857245,
        50.87069294,  49.82766293,  45.40130421,  44.93745271,
        46.84288955,  47.94078641,  44.64883036,  44.28221306,
        44.28754818,  44.38853215,  44.49660994,  46.26054851,
        44.31371715,  45.38688079,  47.08050617,  85.73939368,
        44.17622857,  44.50444981,  44.69568111,  44.7616463 ,
        45.54346802,  44.87290319,  44.45972789,  44.53862811,
        45.75169329,  54.58587312,  44.0421623 , 100.25001603,
        44.26204717,  45.01093351,  51.20719722,  45.74182725,
        44.5145877 ,  48.3799452 ,  45.83112503,  44.04456754,
        44.28696555,  44.16821299,  49.02947124,  46.18728148,
        45.13103143,  47.07813816,  46.93506   ,  48.67726778,
        44.04788732,  44.70389193,  45.59105304,  46.42911817,
        46.31992507,  48.26054876,  45.61217256,  48.19454373,
        47.42472622,  55.55012623,  44.76912027,  44.07492458,
        44.33669063,  44.48470372,  44.46570248,  44.90910441,
        44.52828847,  47.22926526,  45.47861276,  47.89350437,
        47.62724972,  44.42705763,  44.38537665,  44.52695224,
        44.65970016,  44.37879284,  44.54838509,  48.62713361,
        44.96209961,  45.45671379,  45.28689602,  44.34246693,
        44.31183078,  47.79172772,  49.89052932,  44.29407923,
        44.03344179,  47.7963757 ,  44.23030738,  44.52699964,
        45.30482869,  44.42660704,  44.63142798,  55.18741073,
        44.60426642,  51.12315635,  44.04143146,  45.08267082,
        44.82194542,  46.4401982 ,  50.13710632,  44.12965443,
        45.26485518,  44.71892036,  44.58268205,  44.37827901,
        48.56005371,  44.03149341,  45.22785453,  47.23589105,
        46.73754299,  44.25877689,  45.94080881,  44.58656893,
        44.40729012,  45.02154111,  47.04360471,  44.39857946,
        44.91991303,  45.05560985,  44.41492567,  45.2562784 ,
        53.42131539,  52.96574784,  44.23241895,  52.35834438,
        44.41227828,  44.09756266,  45.10902908,  44.72945696,
        46.05691641,  48.94170216,  44.70723416,  44.12550703,
        48.51738899,  44.65154917,  82.08143444,  44.26579907,
        44.37184206,  49.66356323,  49.88203288,  44.47855726,
        44.74345584,  44.18862192,  45.29199311,  44.7353266 ,
        44.13437487,  49.37683216,  44.13141644,  49.03411381,
        44.43324279,  90.29261088,  46.545759  ,  44.21891096,
        44.98800013,  44.44576112,  45.87548173,  46.57115702,
        95.8329932 ,  45.84355355,  44.17043255,  44.79352683,
        47.52971035,  44.98251456,  47.55380906,  52.07858981,
        97.88295918,  45.46940982,  44.22374411,  48.07365819,
        50.59387965,  50.8957947 ,  44.70634357,  44.76093885,
        44.07903446,  44.8134325 ,  44.37158767,  44.18549056,
        50.72723231,  44.43059781,  45.11602281,  44.08475452,
        44.44114234,  44.29605166,  50.47381187,  44.06577696,
        44.37180899,  49.97481957,  54.76189092,  45.04755985,
        54.10662119,  44.33307315,  67.12028125,  44.36914606,
        72.3349758 ,  44.45613137,  44.1971967 ,  44.51776534,
        44.75132102,  48.85854963,  45.1582951 ,  44.78204072,
        45.02699495,  44.30123387,  61.50960212,  45.58569734,
        48.53064219,  44.41001223,  83.16767943,  44.84473419,
        50.18504368,  44.23672462,  48.36273315,  57.08728523,
        50.55702941,  44.12654993,  71.89599137,  47.69408224,
        45.11043065,  46.83495828,  44.85647471,  44.31619191,
        44.45112006,  46.30913399,  45.52256748,  44.66793059,
        44.07630407,  95.42496131,  47.96586253,  44.40727341,
        44.45425296,  68.2183146 ,  49.26874048,  44.35417217,
        49.79808886,  50.2584144 ,  70.24788419,  45.00503179,
        53.02108635,  49.8079277 ,  55.42335256,  44.43708193,
        45.75935426,  44.98386326,  52.75789733,  44.47340307,
        45.02647355,  45.6243923 ,  44.30121479,  45.42753935,
        45.19664254,  50.21601865,  44.27885825,  44.8676297 ,
        46.60137471,  48.34654357,  49.21641871,  44.52613484,
        44.61399363,  45.28590924,  46.1391854 ,  45.29284763,
        44.55917949,  45.20129612,  44.2805075 ,  44.5978188 ,
        45.34659449,  44.79293106,  45.1833421 ,  44.29870412,
        44.89923586,  44.96502081,  44.27764795,  45.17374613,
        44.42385793,  44.83284383,  55.06116577,  44.62438171,
        46.32192292,  45.45136183,  44.36743792,  46.22001737,
        44.44603583,  45.42484796,  44.78618404,  44.44917291,
        44.85545804,  52.44254634,  45.7467317 ,  44.62897638,
        44.8249927 ,  67.46510656,  44.08768855,  46.59895552,
        46.47582581,  44.60236205,  45.71659382,  44.36532827,
        50.1193361 ,  44.27868464,  45.73727109,  77.54024569,
        44.68625309,  45.01295497,  65.27603138,  44.33041084,
        44.91605177,  45.12261632,  44.35664735,  44.96922157,
        45.83880843,  45.61581515,  44.96624626,  51.73250784,
        44.43061676,  45.60532701,  47.74819934,  44.02376092])

In [44]:
test['score_pred_2'] = model_3.predict(test[X])

In [45]:
test

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,score_pred,score_pred_2
1239,40,University of North Carolina at Chapel Hill,USA,25,124,69,86,32,32,19,21.0,41,57.09,2015,57.702718,57.723716
2192,993,Southwest Jiaotong University,China,82,367,327,218,937,962,812,998.0,861,44.03,2015,44.078003,44.063594
42,43,Carnegie Mellon University,USA,31,30,81,26,101,101,61,NaN,101,51.60,2012,51.391440,51.814202
1290,91,Swiss Federal Institute of Technology in Lausanne,Switzerland,2,367,74,116,124,114,39,110.0,58,51.47,2015,51.797882,51.515798
1339,140,University of Nottingham,United Kingdom,10,131,109,84,116,176,146,140.0,138,49.02,2015,49.199589,49.124445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,93,Swiss Federal Institute of Technology in Lausanne,Switzerland,4,355,130,80,126,121,48,124.0,41,51.80,2014,51.802875,51.732508
1850,651,Ehime University,Japan,40,367,514,218,619,582,511,590.0,418,44.43,2015,44.437060,44.430617
580,381,Hong Kong Polytechnic University,Hong Kong,5,355,189,210,261,764,406,395.0,481,45.65,2014,45.626619,45.605327
1389,190,University of South Florida - Tampa,USA,83,367,418,218,233,251,197,164.0,70,47.66,2015,47.746992,47.748199
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015,44.049979,44.023761

In [46]:
error(test['score'],test['score_pred'])

0.19002856115163144
0.003198461149147535

In [47]:
error(test['score'],test['score_pred_2'])

0.20952891944627522
0.0035709067926039126